{% load static %}
<!doctype html>
<html lang="pt-br">
    <head>
        <title>LOGIN | CIAP</title>
        <meta charset="utf-8" />
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/login.css' %}" rel="stylesheet">
    </head>

{% block content %}
<body>
        <div id="login">
            <div class="container">
                <div id="login-row" class="row justify-content-center align-items-center">
                    <div id="login-column" class="col-md-6">
                        <div id="login-box" class="col-md-12">
                            <div class="container mt-3">
                                <div class="d-flex justify-content-center">
                                    <img src="{{ MEDIA_URL }}/media/brasaoacre.png">
                                </div>
                            </div>
                            <form id="login-form" class="form" method="post" style="color: aliceblue;">
                                {% csrf_token %}
                                <h3 class="text-center text-info">Centro integrado de alternativas penais</h3>
                                <div class="form-group mb-2">
                                    {{ form.cpf.errors }}
                                    {{ form.cpf.label_tag }}
                                    {{ form.cpf }}
                                </div>
                                <div class="form-group">
                                    {{ form.senha.errors }}
                                    {{ form.senha.label_tag }}
                                    {{ form.senha }}
                                </div>
                                <br>
                                <div class="form-group d-flex justify-content-center">
                                    <input type="submit" name="submit" class="btn btn-info btn-md" value="Entrar" style="width: 30%;">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
</body>
{% endblock content %}
</html>

