body {
    background-color: #008080;
}

.container {
    margin: 0 auto;
}

h1, h4 th, td {
    font-family: 'Roboto', sans-serif;
}

h2 {
    margin-bottom: 15px;
    margin-top: 10px;
}

.btn-primary {  
    width: 120px;
    margin-top: 15px;
}
.card {
    color: white;
    height: 180px;
}