
body {
    background-color: darkblue;
    filter: brightness(0.9) contrast(1.0);
}

span {
    font-family: 'Roboto', sans-serif;
    font-size: x-large;
}
    
.btn-primary {
    margin-bottom: 10px;
}

.container {
    width: 1000px;
}

#bsc_nome_button {
    width: 30%;
}

label {
    font-size: x-large;
}

.info-item {
    font-size: larger;
}












 




    






