
body {
    background-color: darkblue;
    filter: brightness(0.9) contrast(1.2);
}

span {
    font-family: 'Roboto', sans-serif;
    font-size: x-large;
}
    

.btn-primary {
    margin-bottom: 10px;
}







 




    






