body {
    background-color: #008080;
}

.form-group {
    margin-bottom: 15px;
}

.form-control {
    border-radius: .25rem;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .075);
}

.btn {
    border-radius: .25rem;
}

.violen_process {
    margin-left: -1%;
}

p {
    font-size: large;
}

.container {
    background-color: white;
    max-width: 1000px; 
    width: 100%; 
}

.section-title {
    color: red;
}

#title_4 {
    color: red;
}

hr {
    border: none;
    height: 5px;
    background-color: black;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px; 
    max-height: 40px;
}











