    body { 
        background-color: rgb(20, 104, 104);
        margin-top: 80px;
    }

    .card {
        transition: all 0.3s ease;
    }
    
    .card:hover {
        transform: translateY(-5px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
    }
    
    .card-body .display-4 {
        transition: all 0.3s ease;
    }
    
    .card:hover .card-body .display-4 {
        transform: scale(1.1);
    }

    
    