    body {
        background-image: url('/media/acreImg.png');
        background-size: cover;
        background-position: top left;
        background-repeat: no-repeat;
        background-attachment: fixed;
        filter: brightness(0.9) contrast(1.2);
    }

    #login .container #login-row #login-column #login-box {
        margin-top: 120px;
        max-width: 600px;
        border: 1px solid #9C9C9C;
        background-color: rgba(10, 10, 10, 0.863);
        height: auto;
    }

    #login .container #login-row #login-column #login-box #login-form {
        padding: 20px;
    }
    
    #login .container #login-row #login-column #login-box #login-form #register-link {
        margin-top: -85px;
    }

    img {
        width: 40%;
        height: 60%;
    }

    label {
        color: aliceblue;
    }

    h3 {
        font-family: 'Times New Roman', Times, serif;
    }

    @media (max-width: 576px) {
        #login_box {
            margin-top: 20px;
            min-height: 500px;
        }
    
        input {
            width: 100%;
        }
    
        h3 {
            font-size: 1.5rem;
        }
    
    }
