{% extends 'commons/include/new_base.html' %}
{% load static %}

{% block css %}
    <link href="{% static 'css/form.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <h2 class="text-center mb-4">Formulario: Histórico de Saúde</h2>
                    <form method="post" action="{% url 'form2' %}">
                        {% csrf_token %}
                        {{ formulario_saude.as_p }}
                    <button type="submit" class="btn btn-success btn-block">Continuar
                        <i class="bi bi-arrow-right"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
