{% extends 'commons/include/new_base.html' %}
{% load static %}

{% block css %}
    <link href="{% static 'css/form.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container p-2">
    <div class="row justify-content-center">
        <div class="col-md-8 form-container">
            <h2 class="text-center mb-4">Formulario: Cidadão</h2>
            <form method="post" action="{% url 'form1' %}">
                {% csrf_token %}
                
                {% if formulario.non_field_errors %}
                    <div class="errors">
                        <ul>
                            {% for error in formulario.non_field_errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                
                {% for field in formulario %}
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field }}
                        {% if field.errors %}
                            <div class="errors">
                                <ul>
                                    {% for error in field.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}

                <button type="submit" class="btn btn-success btn-block">Continuar
                    <i class="bi bi-arrow-right"></i>
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
