{% extends 'commons/include/new_base.html' %}
{% load static %}

{% block title %}FORM | INFO-COMPLEMENTARES{% endblock %}

    {% block css %}
        <link href="{% static 'css/form.css' %}" rel="stylesheet">
    {% endblock %}

{% block content %}

{% include 'commons/include/alert_error_message.html' %}

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 form-container">
                <h2 class="text-center mb-4 bg-dark text-white">Formulário: informações complementares</h2>
                <form method="post" action="{% url 'form4' %}">
                    {% csrf_token %}
                    {{ formulario_complementar.as_p }}
                    <button type="submit" class="btn btn-primary btn-block">FINALIZAR
                        <i class="bi bi-check"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}



