{% extends 'commons/include/new_base.html' %}
{% load static %}

{% block title %}FORM | INFO-TECNICAS{% endblock %}

{% block css %}
    <link href="{% static 'css/form.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

{% include 'commons/include/alert_error_message.html' %}

    <div class="container">
        <div class="row justify-content-center mt-1">
            <div class="col-md-8 form-container">
                <h2 class="text-center mb-4">Formulário: informações tecnicas</h2>
                <form method="post" action="{% url 'form3' %}">
                    {% csrf_token %}
                    {{ formulario_tecnico.as_p }}
                    <button type="submit" class="btn btn-success btn-block">Continuar
                        <i class="bi bi-arrow-right"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>

{% endblock content %}



