
    body {
        background-color: darkblue;
    }

    label {
        font-family: 'Times New Roman', Times, serif;
        font-size: larger;
    }

    span {
        font-size: x-large;
    }

    .btn-primary {
        margin-bottom: 10px;
    }

 




    






