body {
    background-color: #008080;
    filter: brightness(0.9) contrast(1.0);
}

span {
    font-family: sans-serif;
    font-size: x-large;
}
    
.btn-success {
    margin-bottom: 10px;
}

.container {
    width: 1000px;
}

#bsc_nome_button {
    width: 30%;
}

label {
    font-size: large;
}

.info-item {
    font-size: larger;
}

#grafico {
    width: 40%;
    height: 30%;
    margin: 0;
    padding: 0;
}

i {
    font-size: larger;
}















 




    






