body {
    background-color: darkblue;
}

.container {
    width: 1000px;
    border: solid 1px;
    border-radius: 10px;
    background-color: white;
}

button {
    width: 60%; 
    margin-top: 15px;
    margin-left: 20%;
}

label {
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
}









