    body {
    background-color: rgb(20, 104, 104);
    background-image: url("{% static '/img/brasaoacre.png' %}");
    background-size:25%; 
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita repetição da imagem */
    background-attachment: fixed; /* Faz com que a imagem de fundo fique fixa quando a página é rolada */
    }
