{% extends 'commons/include/new_base.html' %}

{% block content %}
<div class="row row-cols-1 row-cols-md-4 mb-4 justify-content-between">
    <div class="col-md-3">
        <div class="card h-100 text-center shadow">
            <div class="card-body">
                <div class="display-4 text-primary mb-2">
                    <i class="bi bi-file-earmark"></i>
                </div>
                <h2 class="card-title mb-3">{{ total_usuarios }}</h2>
                <p class="card-text text-muted">Formularios cadastrados (total)</p>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card h-100 text-center shadow">
            <div class="card-body">
                <div class="display-4 text-success mb-2">
                    <i class="bi bi-graph-up"></i>
                </div>
                <h2 class="card-title mb-3">{{ aumento_percentual|floatformat:2 }}%</h2>
                <p class="card-text text-muted">Aumento mensal</p>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card h-100 text-center shadow">
            <div class="card-body">
                <div class="display-4 text-info mb-2">
                    <i class="bi bi-people"></i>
                </div>
                <h2 class="card-title mb-3"> {{ total_usuarios_site }} </h2>
                <p class="card-text text-muted">Quantidade de usuarios</p>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card h-100 text-center shadow">
            <div class="card-body">
                <div class="display-4 text-warning mb-2">
                    <i class="bi bi-clock-history"></i>
                </div>
                <h2 class="card-title mb-3"> {{ ativos }} </h2>
                <p class="card-text text-muted">Ativos no momento</p>
            </div>
        </div>
    </div>
</div>

<div class="row gap-1 justify-content-center">
    <div class="col-md-auto">
        <div class="card col me-1" style="width: 18rem;">
            <i class="fas fa-database fa-5x d-flex justify-content-center mt-1"></i>
            <div class="card-body">
                <h5 class="card-title">Novo cadastro de formulario</h5>
                <p class="card-text">Realizar cadastro de formulario inicial abaixo.
                </p>
            </div>
            <div class="d-flex justify-content-center">
                <a href="{% url 'form1' %}" class="btn btn-primary">NOVO CADASTRO</a>
            </div>
        </div>
    </div>
    <div class="col-md-auto">
        <div class="card col me-1" style="width: 18rem;">
            <i class="bi bi-search fa-5x d-flex justify-content-center mt-1"></i>
            <div class="card-body">
                <h5 class="card-title">Realizar consulta de dados</h5>
                <p class="card-text">
                    Realizar consulta de dados tendo como base nome ou cpf para realizar consulta.
                </p>
            </div>
            <div class="d-flex justify-content-center">
                <a href="{% url 'busca' %}" class="btn btn-primary">CONSULTAR DADOS</a>
            </div>
        </div>
    </div>
    <div class="col-md-auto">
        <div class="card col me-1" style="width: 18rem;">
            <i class="bi bi-pencil fa-5x d-flex justify-content-center mt-1"></i>
            <div class="card-body">
                <h5 class="card-title">Edição de dados</h5>
                <p class="card-text">Edição de dados gerais relaionados a uma determinada ficha de registro, operação
                    irreversivel!</p>
            </div>
            <div class="d-flex justify-content-center">
                <a href="{% url 'capturar_dados' %}" class="btn btn-primary">EDITAR DADOS</a>
            </div>
        </div>
    </div>
    <div class="col-md-auto">
        <div class="card col me-1" style="width: 18rem;">
            <i class="bi bi-shield-fill-x fa-5x d-flex justify-content-center mt-1"></i>
            <div class="card-body">
                <h5 class="card-title">Registrar formulario extra</h5>
                <p class="card-text">Realizar adição de formulario por violência domestica a uma determinada ficha</p>
            </div>
            <div class="d-flex justify-content-center">
                <a href="{% url 'capturar_violen' %}" class="btn btn-primary">VIOLÊNCIA</a>
            </div>
        </div>
    </div>
</div>  

{% include 'commons/include/actions.html' %}

{% endblock content %}
