{% extends 'commons/include/new_base.html' %}
{% load static %}

{% block title%}HOME | ACMP-BUSCA{% endblock %}

    {% block css %}
        <link href="{% static 'css/acomp_busca.css' %}" rel="stylesheet">
    {% endblock %}

{% block content %}
                <div class="container">
                    <div class="bg-white p-3 rounded">
                        <h3 style="font-family: 'Times New Roman', Times, serif; margin-left: 30px;">Buscar formulario de acompanhamento(CPF)</h3>
                        <nav class="navbar navbar-light bg-light">
                            <div class="container-fluid">
                                <div class="d-flex justify-content-center w-100">
                                        <form class="d-flex w-100" method="get" action="{% url 'acmform' %}">
                                            <input type="text" name="cpf" placeholder="Buscar pelo CPF" class="form-control flex-fill" maxlength="11">
                                            <button type="submit" class="btn btn-outline-success flex-shrink-1" style="margin-left: 5px;">Buscar</button>
                                        </form>
                                </div>
                            </div>
                        </nav>
                        <div class="container d-flex justify-content-center mt-2">
                            <a href="{% url 'buscar_nome' %}" class="btn btn-warning" id="bsc_nome_button">
                                OBTER (CPF)
                                <i class="fas fa-download" style="margin-left: 4px;"></i>
                            </a>
                        </div>
                    </div> 
                </div>

                <br>

                {% if form_acomp_central %}

                    <div class="container">
                        <div>
                    
                            <div style="background-color: #f8f9fa; padding: 15px; border-radius: 8px; margin-bottom: 20px;">
                                <h1 class="d-flex justify-content-center text-primary">Fichas de Acompanhamento</h1>
                                <hr>
                                <h4 class="d-flex justify-content-center text-primary">Nome: {{ cidadao.nome }}</h4>
                                <h4 class="d-flex justify-content-center text-primary">Número do processo: <div class="text-danger"> {{ historico_criminal.numero_do_processo }} </div> </h4>
                                {% if violen_domest %}
                                    <hr>
                                    <h3 class="d-flex justify-content-center text-primary">Processos por violência domestica abaixo:</h3>
                                {% endif %}
                                {% for processos in violen_domest %}
                                    <h4 class="text-primary mb-2 ms-5"> Número: <div class="text-danger">{{ processos.process_referente }}</div> </h4>
                                    {% empty %}
                                    <h4 class="d-flex justify-content-center text-warning">(NÃO POSSUI PROCESSOS POR VIOLENCIA DOMESTICA!)</h4>
                                {% endfor %}
                            </div>
                    
                            <table class="w-100">
                                <thead>
                                    <tr class="bg-primary text-white">
                                        <th style="padding: 10px; font-size: large; border: solid 1px #dee2e6;">Técnico Responsavel</th>
                                        <th style="padding: 10px; font-size: large; border: solid 1px #dee2e6;">Evolução/Demandas/Percepções</th>
                                        <th style="padding: 10px; font-size: large; border: solid 1px #dee2e6;">Data de registro</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    {% for form in form_acomp_central %}
                                        <tr style="background-color: #f9f9f9;">
                                            <td style="padding: 10px; border: solid 1px #dee2e6;">{{ form.tecnico_responsavel }}</td>
                                            <td style="padding: 10px; border: solid 1px #dee2e6;">{{ form.evolucao_percepcoes }}</td>
                                            <td style="padding: 10px; border: solid 1px #dee2e6;">{{ form.data_registro }}</td>
                    
                                        </tr>
                                    {% empty %}
                                        <tr>
                                            <td colspan="2" style="padding: 10px; text-align: center; color: #6c757d;">Nenhum formulário encontrado para o CPF fornecido.</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
            {% endif %}
{% endblock content %}


