{% extends 'commons/include/new_base.html' %}
{% load static %}

{% block title %}HOME | REG-ACMP-FORM{% endblock %}

{% block css %}
    <link href="{% static 'css/acomp_busca.css' %}" rel="stylesheet">
{% endblock %}

{% block content %} 
    <div class="container">
        <div class="bg-white p-3 rounded">
            <h3 style="font-family: 'Times New Roman', Times, serif; margin-left: 30px;">Registrar Formulario de Acompanhamento(CPF)</h3>
            <nav class="navbar navbar-light bg-light">
                <div class="container-fluid">
                    <div class="d-flex justify-content-center w-100">
                            <form class="d-flex w-100" method="post" action="{% url 'register_acmform_view' %}">
                                {% csrf_token %}
                                <input type="text" name="cpf" placeholder="Buscar pelo CPF" class="form-control flex-fill" maxlength="11">
                                <button type="submit" class="btn btn-outline-success flex-shrink-1" style="margin-left: 5px;">Buscar</button>
                            </form>
                    </div>
                </div>
            </nav>
            <div class="container d-flex justify-content-center mt-2">
                <a href="{% url 'buscar_nome' %}" class="btn btn-warning" style="width: 30%;">
                    OBTER (CPF)
                    <i class="fas fa-download" style="margin-left: 4px;"></i>
                </a>
            </div>
        </div> 
    </div>
{% endblock content %}

