{% extends 'commons/include/new_base.html' %}
{% load static %}

{% block title%}HOME | ACMP-BUSCA{% endblock %}

    {% block css %}
        <link href="{% static 'css/acomp_busca.css' %}" rel="stylesheet">
    {% endblock %}

{% block content %}

    {% include 'commons/include/alert_error_message.html' %}

                <div class="container">
                    <div class="p-3 bg-light rounded">
                        <h3 id="title_search">Buscar formulario de acompanhamento(CPF)</h3>
                        <nav class="navbar navbar-light bg-light">
                            <div class="container-fluid">
                                <div class="d-flex justify-content-center w-100">
                                        <form class="d-flex w-100" method="get" action="{% url 'acmform' %}">
                                            <input type="text" name="cpf" placeholder="Buscar pelo CPF" class="form-control flex-fill" maxlength="11" value="{{ request.GET.cpf }}">
                                            <button type="submit" class="btn btn-outline-success flex-shrink-1" style="margin-left: 5px;">Buscar</button>
                                        </form>
                                </div>
                            </div>
                        </nav>
                        <div class="container d-flex justify-content-center mt-2">
                            <a href="{% url 'buscar_nome' %}" class="btn btn-warning" id="bsc_nome_button">
                                OBTER (CPF)
                                <i class="fas fa-download" style="margin-left: 4px;"></i>
                            </a>
                        </div>
                    </div> 
                </div>

                <br>

                {% if form_acomp_central %}
                    <div class="container">
                        <div>
                    
                            <div id="cabecalho">
                                <h2 class="d-flex justify-content-center text-primary">FICHAS DE ACOMPANHAMENTO</h2>
                                <hr>
                                <h4 class="d-flex justify-content-center bg-dark text-white">Nome: <strong class="text-danger ms-1"> {{ cidadao.nome }} </strong> </h4>
                                <h4 class="d-flex justify-content-center bg-dark text-white">Número do processo:  <strong class="text-danger ms-1"> {{ historico_criminal.numero_do_processo }}  </strong> </h4>
                                <a class="btn btn-primary" href="{% url 'acmp_pdf' %}" id="btn_imprimir" target="_blank">
                                    <i class="bi bi-printer">Documento PDF</i>
                                </a>
                                <a class="btn btn-primary" href="{% url 'generate_docx' %}" id="btn_word">
                                    <i class="bi bi-printer">Documento Word</i>
                                </a>
                                {% if violen_domest %}
                                <hr>

                                <div class="bg-dark text-white">
                                        <h3 class="d-flex justify-content-center">Processos por violência domestica:</h3>
                                        <br>
                                    {% endif %}
                                    {% for processos in violen_domest %}
                                        <h4 class="mb-2 ms-5"> Número:  <strong class="text-danger"> {{ processos.process_referente }} </strong></h4>
                                        {% empty %}
                                        <h4 class="d-flex justify-content-center text-warning">(NÃO POSSUI PROCESSOS POR VIOLENCIA DOMESTICA!)</h4>
                                    {% endfor %}
                                    <br>
                                </div>

                            </div>
                    
                            <table class="w-100">
                                <thead>
                                    <tr class="bg-primary text-white">
                                        <th>Técnico Responsavel</th>
                                        <th>Evolução/Demandas/Percepções</th>
                                        <th>Data de registro</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for form in form_acomp_central %}
                                        <tr style="background-color: #f9f9f9;">
                                            <td>{{ form.tecnico_responsavel }}</td>
                                            <td>{{ form.evolucao_percepcoes }}</td>
                                            <td>{{ form.data_registro }}</td>
                                        </tr>
                                    {% empty %}
                                        <tr>
                                            <td colspan="2" style="padding: 10px; text-align: center; color: #6c757d;">Nenhum formulário encontrado para o CPF fornecido.</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
            {% endif %}

{% endblock content %}


