{% extends 'commons/include/new_base.html' %}
{% load static %}

{% block title %}HOME | REG-ATIV{% endblock %}

{% block content %}
<h1 class="d-flex justify-content-center text-white bg-dark">Registro de Atividades</h1>

<div class="container mt-5 d-flex justify-content-center">
    <table class="table">
        <thead>
            <tr>
                <th>Usuário que realizou:</th>
                <th>Data e Hora:</th>
                <th>CPF Excluído:</th>
            </tr>
        </thead>
        <tbody>
            {% for log in alteracoes %}
                <tr>
                    <td>{{ log.user.nome }}</td>
                    <td>{{ log.timestamp|date:"d/m/Y H:i:s" }}</td>
                    <td>{{ log.cpf_excluido|default:'N/A' }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="3" class="text-center">Nenhum registro encontrado.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}
    
