{% extends 'commons/include/new_base.html' %}
{% load static %}

{% block css %}
    <link href="{% static 'css/busca.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

{% include 'commons/include/alert_error_message.html' %}

                <div class="container bg-transparent">
                    <div class="card shadow-sm rounded bg-dark">
                        <div class="card-header bg-primary text-white border-bottom-0">
                            <h5 class="mb-0">ALTERAR MODO</h5>
                        </div>
                        <div class="card-body text-center">
                            <h4 class="card-title mb-4 text-white">ALTERAR MODO DE BUSCA PARA (<strong style="color: red;">NOME</strong>)</h4>
                            <a class="btn btn-primary btn-lg" href="{% url 'buscar_nome' %}">
                                CLIQUE AQUI
                            </a>
                        </div>
                        <div class="card-footer text-muted border-top-0 text-center">
                        </div>
                    </div>
                </div>

                <br>

                <div class="container bg-transparent">
                    <div class="bg-dark p-3 rounded text-white">
                        <h3 style="font-family: 'Times New Roman', Times, serif;">Consultar Dados(<strong style="color: red;">CPF</strong>)</h3>
                        <nav class="navbar navbar-dark bg-dark">
                            <div class="container-fluid">
                                <div class="d-flex justify-content-center w-100">
                                    <form class="d-flex w-100" method="get" action="{% url 'busca' %}">
                                        {% csrf_token %}
                                        <input type="number" name="cpf" class="form-control flex-fill" placeholder="Buscar..." maxlength="11" value="{{ request.GET.cpf }}">
                                        <button class="btn btn-outline-success flex-shrink-1" type="submit" style="margin-left: 5px;">Buscar</button>
                                    </form>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>

                <br>
                    
   
            {% if cidadao %}
                <div class="container border border-2 py-5 rounded">

                <h2 class="title_nome d-flex justify-content-center">{{ cidadao.nome }}</h2>

                <br>
                
                    <div class="section-title">
                        <h3>Informações Pessoais</h3>
                    </div>
                    <div class="info-item">
                        <p><strong>CPF:</strong> {{ cidadao.cpf }}</p>
                        <p><strong>Nome Social:</strong> {{ cidadao.nome_social }}</p>
                        <p><strong>Endereço:</strong> {{ cidadao.endereco }}</p>
                        <p><strong>Cidade:</strong> {{ cidadao.cidade }}</p>
                        <p><strong>Telefone:</strong> {{ cidadao.telefone }}</p>
                        <p><strong>Estado:</strong> {{ cidadao.estado }}</p>
                        <p><strong>Data de Nascimento:</strong> {{ cidadao.data_nascimento }}</p>
                        <p><strong>Idade:</strong> {{ cidadao.idade }}</p>
                        <p><strong>Naturalidade:</strong> {{ cidadao.naturalidade }}</p>
                        <p><strong>Sexo:</strong> {{ cidadao.sexo }}</p>
                        <p><strong>Mãe:</strong> {{ cidadao.mae }}</p>
                        <p><strong>Estado Civil:</strong> {{ cidadao.estado_civil }}</p>
                        <p><strong>Remuneração:</strong> {{ cidadao.remuneracao }}</p>
                        <P><strong>Renda individual:</strong> {{ cidadao.renda_individual }} </p>
                        <p><strong>Cor/Raça:</strong> {{ cidadao.cor_raca }}</p>
                        <p><strong>Escolaridade:</strong> {{ cidadao.escolaridade }}</p>
                    </div>
                    <hr>
                    <br>
               
                    <div class="section-title">
                        <h3>Histórico de Saúde</h3>
                    </div>
                    <div class="info-item">
                        {% if historico_saude %}
                            <p><strong>Se apresenta problema de saúde qual?:</strong> {{ historico_saude.saude }}</p>
                            <p><strong>Apresenta problemas de saude?:</strong> {{ historico_saude.saude_just }}</p>
                            <p><strong>Faz ou fez tratamento psiquiatrico?:</strong> {{ historico_saude.tratamento_psi }}</p>
                            <p><strong>Especifique o tratamento psiquiatrico::</strong> {{ historico_saude.tratamento_psi_jus }}</p>
                            <p><strong>Faz uso de alguma medicação controlada?:</strong> {{ historico_saude.medicacao_controlada }}</p>
                            <p><strong>Especifique o tipo de medicação controlada::</strong> {{ historico_saude.medicacao_controlada_jus }}</p>
                            <p><strong>É portador de alguma deficiência:</strong> {{ historico_saude.deficiencia }}</p>
                            <p><strong>Faz ou já fez uso de::</strong> {{ historico_saude.drogas_uso }}</p>
                            <p><strong>Já procurou tratamento?:</strong> {{ historico_saude.tratamento }}</p>
                        {% else %}
                            <p>Histórico de saúde não disponível.</p>
                        {% endif %}
                    </div>
                    <hr>
                    <br>
                
                    <div class="section-title">
                        <h3>Histórico Criminal</h3>
                    </div>
                    <div class="info-item">
                        {% if historico_criminal %}
                            <p><strong>Já Esteve Preso:</strong> {{ historico_criminal.ja_esteve_preso }}</p>
                            <p><strong>Prisão Justificativa:</strong> {{ historico_criminal.prisao_justificativa }}</p>
                            <p><strong>Prisão Familiar:</strong> {{ historico_criminal.prisao_familiar }}</p>
                            <p><strong>Número do Processo:</strong> {{ historico_criminal.numero_do_processo }}</p>
                            <p><strong>Juiz de Origem:</strong> {{ historico_criminal.juiz_de_origem }}</p>
                            <p><strong>Medida Aplicada:</strong> {{ historico_criminal.medida_aplicada }}</p>
                            <p><strong>Tipo Penal:</strong> {{ historico_criminal.tipo_penal }}</p>
                            <p><strong>Violência Doméstica:</strong> {{ historico_criminal.violencia_domestica }}</p>
                            <p><strong>Nome da Vítima:</strong> {{ historico_criminal.violencia_dome_nome_vitima }}</p>
                            <p><strong>Grau de Parentesco:</strong> {{ historico_criminal.grau_de_parentesco }}</p>
                            <p><strong>Reincidência:</strong> {{ historico_criminal.reincidencia }}</p>
                            <p><strong>Sugestão de Trabalho:</strong> {{ historico_criminal.sugestao_de_trabalho }}</p>
                            <p><strong>Sugestão de Encaminhamento:</strong> {{ historico_criminal.sugest_encaminhamento }}</p>
                        {% else %}
                            <p>Histórico criminal não disponível.</p>
                        {% endif %}
                    </div>
                    <hr>
                    <br>
                
                    <div id="title_4">
                        <h3>Informações Complementares</h3>
                    </div>
                    <div class="info-item">
                        {% if informacoes_complementares %}
                            <p><strong>Quantas Pessoas:</strong> {{ informacoes_complementares.quantas_pessoas }}</p>
                            <p><strong>Nome Familiar:</strong> {{ informacoes_complementares.nome_familiar }}</p>
                            <p><strong>Parentesco:</strong> {{ informacoes_complementares.parentesco }}</p>
                            <p><strong>Idade Familiar:</strong> {{ informacoes_complementares.idade_familiar }}</p>
                            <p><strong>Escolaridade Familiar:</strong> {{ informacoes_complementares.escolaridade_familiar }}</p>
                            <p><strong>Ocupação:</strong> {{ informacoes_complementares.ocupacao }}</p>
                            <p><strong>Análise Descritiva:</strong> {{ informacoes_complementares.analise_descritiva }}</p>
                            <p><strong>Tecnico responsavel pelo acolhimento:</strong> {{ informacoes_complementares.tecnico_responsavel }}</p>
                            <p><strong>Tipo penal:</strong> {{ informacoes_complementares.tip_penal }} </p>
                            <p><strong>Medida de cumprimento:</strong> {{ informacoes_complementares.medida_cumprimento }} </p>
                            <p><strong>Data de entrada:</strong> {{ cidadao.data_entrada }}</p>
                        {% else %}
                            <p>Informações complementares não disponíveis.</p>
                        {% endif %}
                    </div>
                
                    <hr>
                    <br>
                      
                    {% if form_violen %}
                    <div class="violen_process">
                        <h3 class="d-flex justify-content-center">(PROCESSOS POR VIOLENCIA DOMESTICA)</h3>
                            {% for items in form_violen %}
                            <div class="container bg-dark d-flex justify-content-center mt-2 p-1" style="border: solid 1px; color: white; border-radius: 10px;">
                                <p><strong> Número do processo: ===>></strong><a class="btn btn-info" href="{% url 'violen_info' items.process_referente %}" value=" items.process_referente "> {{  items.process_referente }}</a></p>
                                <p>STATUS: <strong style="color: red;"> {{ items.status_process }} </strong></p>
                            </div>
                            {% endfor %}
                        {% else %}
                        <p><strong style="color: crimson; font-size: larger;">Não possui registro de violência domestica</strong></p>
                        {% endif %}
                    </div>

                    <div class="button-container bg-white rounded">
                        <a class="btn btn-primary mb-0 me-2" href="{% url 'imprimir_pdf' %}">
                            <i class="bi bi-printer">Documento PDF</i>
                        </a>
                    
                        {% if user.is_staff %}
                        <form method="post" action="{% url 'excluir_form' %}">
                            {% csrf_token %}
                            <input type="hidden" name="cpf" value="{{ cidadao.cpf }}">
                            <button class="btn btn-danger" type="submit">Excluir Cidadão</button>
                        </form>
                        {% endif %}
                    </div>                                  

                {% else %}
                    {% if form.is_valid %}
                        <p class="text-center">Cidadão não encontrado.</p>
                    {% endif %}
                {% endif %}
            </div>
{% endblock content %}


