{% load static %}
<!doctype html>
<html lang="pt-br">
    <head>
        <title>HOME | EDITAR</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/capturar_cpf.css' %}" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    </head>

{% include 'commons/include/navbar.html' %}
    {% block content %}
    <body>

        <div class="container">
            <div class="bg-white p-3 rounded">
                <h3 style="font-family: 'Times New Roman', Times, serif; margin-left: 30px;">Adicionar formulario de violência domestica(CPF)</h3>
                <nav class="navbar navbar-light bg-light">
                    <div class="container-fluid">
                        <div class="d-flex justify-content-center w-100">
                                <form class="d-flex w-100" method="post">
                                    {% csrf_token %}
                                    <input type="text" name="cpf" placeholder="Buscar pelo CPF" class="form-control flex-fill" maxlength="11">
                                    <button type="submit" class="btn btn-outline-success flex-shrink-1" style="margin-left: 5px;">Buscar</button>
                                </form>
                        </div>
                    </div>
                </nav>
                <div class="container d-flex justify-content-center mt-2">
                    <a href="{% url 'buscar_nome' %}" class="btn btn-warning" style="width: 30%;">
                        OBTER (CPF)
                        <i class="fas fa-download" style="margin-left: 4px;"></i>
                    </a>
                </div>
            </div> 
        </div>

    <div class="container mt-5">
        <div class="card bg-dark" style="color: white;">
            <div class="card-header">
                <h3 class="d-flex justify-content-center" style="color: rgb(121, 215, 243); font-family: 'Roboto', sans-serif;">Realizar busca de processo
                    <i class="bi bi-arrow-right-circle" style="color: rgb(121, 215, 243); margin-left: 7px;"></i>
                </h3>
            </div>
            <div class="card-body">
              <p class="card-text" style="font-family: 'Roboto', sans-serif;">Caso deseje realizar uma busca de formularios no que diz respeito a violência domestica desde que se possua o número do processo processo referente,
                números de processos podem vir a ser localizados ao se realizar uma busca tanto pelo nome quanto pelo cpf.
              </p>
              <a href="{% url 'buscar_viol' %}" class="btn btn-success" style="margin-left: 40%;">Clique aqui</a>
            </div>
          </div>
    </div>

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/all.min.js' %}"></script>
    </body>
    {% endblock content %}
{% include 'commons/include/footer.html' %}
</html>
