{% extends 'commons/include/new_base.html' %}
{% load static %}

    {% block css %}
        <link href="{% static 'css/acomp_busca.css' %}" rel="stylesheet">
    {% endblock %}
     
{% block content %}
        <div class="container">
            <div class="bg-white p-3 rounded">
                <h3 style="font-family: 'Times New Roman', Times, serif; margin-left: 30px;">Adicionar formulario de violência domestica(CPF)</h3>
                <nav class="navbar navbar-light bg-light">
                    <div class="container-fluid">
                        <div class="d-flex justify-content-center w-100">
                                <form class="d-flex w-100" method="post">
                                    {% csrf_token %}
                                    <input type="text" name="cpf" placeholder="Buscar pelo CPF" class="form-control flex-fill" maxlength="11">
                                    <button type="submit" class="btn btn-outline-success flex-shrink-1" style="margin-left: 5px;">Buscar</button>
                                </form>
                        </div>
                    </div>
                </nav>
                <div class="container d-flex justify-content-center mt-2">
                    <a href="{% url 'buscar_nome' %}" class="btn btn-warning" style="width: 30%;">
                        OBTER (CPF)
                        <i class="fas fa-download" style="margin-left: 4px;"></i>
                    </a>
                </div>
            </div> 
        </div>

    <div class="container mt-5">
        <div class="card bg-dark" style="color: white;">
            <div class="card-header">
                <h3 class="d-flex justify-content-center" style="color: rgb(121, 215, 243); font-family: 'Roboto', sans-serif;">Realizar busca de processo
                    <i class="bi bi-arrow-right-circle" style="color: rgb(121, 215, 243); margin-left: 7px;"></i>
                </h3>
            </div>
            <div class="card-body">
              <p class="card-text" style="font-family: 'Roboto', sans-serif;">Busca de processos que dizem respeito a violência domestica estão disponiveis ao realizar uma busca
                tanto pelo cpf quanto pelo nome, na parte inferior do formulario de informações é possível selecionar de acordo com o processo.
                <br>
                <br>
              <a href="{% url 'busca' %}" class="btn btn-success" style="margin-left: 40%;">Redirecionar
                <i class="bi bi-arrow-right" style="margin-left: 7px;"></i>
              </a>
            </div>
          </div>
    </div>

    <div class="container mt-5">
        <div class="card bg-dark" style="color: white;">
            <div class="card-header">
                <h3 class="d-flex justify-content-center" style="color: red; font-family: 'Roboto', sans-serif;">Alterar status de processo
                    <i class="bi bi-pencil" style="color: red; margin-left: 7px;"></i>
                </h3>
            </div>
            <div class="card-body">
              <h5 class="card-text" style="font-family: 'Roboto', sans-serif; color: red;">Caso deseje alterar um status de processo, status de processos variam de acordo com o andamento do processo.</h5>
              <p style="color: red; font-size: larger;" class="d-flex justify-content-center">(O ACESSO É RESTRITO A PESSOAS AUTORIZADAS!)</p>
              <a href="{% url 'alterar_process' %}" class="btn btn-warning" style="margin-left: 40%;">CLIQUE AQUI
                <i class="bi bi-exclamation-triangle" style="margin-left: 7px;"></i>
              </a>
            </div>
          </div>
    </div>
{% endblock content %}


