{% extends 'commons/include/new_base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="container mb-3">
            <div class="bg-dark p-3 rounded">
                <h3 style="font-family: 'Times New Roman', Times, serif; color: aliceblue;">Consultar dados(<strong style="color: red;">CPF</strong>)</h3>
                <nav class="navbar navbar-dark bg-dark">
                    <div class="container-fluid">
                        <div class="d-flex justify-content-center w-100">
                            <form class="d-flex w-100" method="post" action="{% url 'alterar_process' %}">
                                {% csrf_token %}
                                <input type="text" name="cpf" class="form-control flex-fill" placeholder="Buscar..." maxlength="80">
                                <button class="btn btn-outline-success flex-shrink-1" type="submit" style="margin-left: 5px;">Buscar</button>
                            </form>
                        </div>
                    </div>
                </nav>
                <div class="container d-flex justify-content-center mt-3">
                    <a href="{% url 'buscar_nome' %}" class="btn btn-warning" id="bsc_nome_button">
                        OBTER (CPF)
                        <i class="fas fa-download" style="margin-left: 4px;"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}


