{% extends 'commons/include/new_base.html' %}
{% load static %}

{% block title %}HOME | EDIT-DADOS{% endblock %}

{% block css %}
    <link href="{% static 'css/editar_form.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container" id="box_form">
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <h2 class="d-flex justify-content-center">Dados do Cidadão</h2>
                {{ form_cidadao.as_p }}

                {{ form_cidadao.non_field_errors }}
                {{ form_cidadao.errors }}
            </div>
            <hr>
            <div class="form-group">
                <h2 class="d-flex justify-content-center">Histórico de Saúde</h2>
                {{form_historico_saude.as_p }}

                {{ form_historico_saude.non_field_errors }}
                {{ form_historico_saude.errors }}
            </div>
            <hr>
            <div class="form-group">
                <h2 class="d-flex justify-content-center">Histórico Criminal</h2>
                {{ form_historico_criminal.as_p }}

                {{ form_historico_criminal.non_field_errors }}
                {{ form_historico_criminal.errors }}
            </div>
            <hr>
            <div class="form-group">
                <h2 class="d-flex justify-content-center">Informações Complementares</h2>
                {{form_informacoes_complementares.as_p }}

                {{ form_informacoes_complementares.non_field_errors }}
                {{ form_informacoes_complementares.errors }}
            </div>
           
            <button type="submit" class="btn btn-success mt-4">Salvar
                <i class="fas fa-save"></i>
            </button>
        </form>
    </div>


{% endblock content %}


