{% load static %}
<!doctype html>
<html lang="pt-br">
<head>
    <title>HOME | EDITAR DADOS</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/editar_form.css' %}" rel="stylesheet">

    <style>
        select {
            width: 20%;
        }
    </style>

</head>
<body>
    {% include 'commons/include/navbar_form.html' %}

    {% block content %}
    <div class="container" id="box_form">
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <h2>Dados do Cidadão</h2>
                {{ form_cidadao.as_p }}

                {{ form_cidadao.non_field_errors }}
                {{ form_cidadao.errors }}
            </div>
            <div class="form-group">
                <h2>Histórico de Saúde</h2>
                {{form_historico_saude.as_p }}

                {{ form_historico_saude.non_field_errors }}
                {{ form_historico_saude.errors }}
            </div>
            <div class="form-group">
                <h2>Histórico Criminal</h2>
                {{ form_historico_criminal.as_p }}

                {{ form_historico_criminal.non_field_errors }}
                {{ form_historico_criminal.errors }}
            </div>
            <div class="form-group">
                <h2>Informações Complementares</h2>
                {{form_informacoes_complementares.as_p }}

                {{ form_informacoes_complementares.non_field_errors }}
                {{ form_informacoes_complementares.errors }}
            </div>
           
            <button type="submit" class="btn btn-success mt-4" style="margin-left: 30%; width: 30%;">Salvar</button>
        </form>
    </div>

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/all.min.js' %}"></script>
    {% endblock content %}

    {% include 'commons/include/footer.html' %}
</body>
</html>
