{% load static %}
<!doctype html>
<html lang="pt-br">
<head>
    <title>HOME | ESTATISTICAS</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/estatisticas.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

    <style>
        p {
            font-family: 'Roboto', sans-serif;
            font-size: larger;
        }
    </style>

</head>
{% include 'commons/include/navbar.html' %}
{% block content %}
<body>
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-3">
                <div class="card h-100 text-center shadow">
                    <div class="card-body">
                        <div class="display-4 text-primary mb-2">
                            <i class="bi bi-file-earmark"></i>
                        </div>
                        <h2 class="card-title mb-3">{{ total_usuarios }}</h2>
                        <p class="card-text text-muted">Formularios cadastrados</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card h-100 text-center shadow">
                    <div class="card-body">
                        <div class="display-4 text-success mb-2">
                            <i class="bi bi-graph-up"></i>
                        </div>
                        <h2 class="card-title mb-3">{{ aumento_percentual }}</h2>
                        <p class="card-text text-muted">Aumento mensal</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card h-100 text-center shadow">
                    <div class="card-body">
                        <div class="display-4 text-info mb-2">
                            <i class="bi bi-people"></i>
                        </div>
                        <h2 class="card-title mb-3">{{ total_usuarios_site }}</h2>
                        <p class="card-text text-muted">Quantidade de usuarios</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card h-100 text-center shadow">
                    <div class="card-body">
                        <div class="display-4 text-warning mb-2">
                            <i class="bi bi-clock-history"></i>
                        </div>
                        <h2 class="card-title mb-3">{{ ativos }}</h2>
                        <p class="card-text text-muted">Ativos no momento</p>
                    </div>
                </div>
            </div>
        </div>

        <br>

        <div class="row mt-3">
            <div class="col-md-6">
                <div class="card bg-dark text-light">
                    <div class="card-body">
                        <h1 class="mb-3">Porcentagem geral de (Homens | Mulheres)</h1>
                        <p>Porcentagem Homens: <span class="text-danger">{{ porcentagem_homens|floatformat:2 }}%</span></p>
                        <p>Porcentagem Mulheres: <span class="text-danger">{{ porcentagem_mulheres|floatformat:2 }}%</span></p>
                        <h4 class="mt-3">Lista de drogas utilizadas e quantidade de usuarios</h4>
                        <ul class="list-unstyled">
                            {% for droga in drogas_ms %}
                                <li class="mt-1">{{ droga.drogas_uso }}: {{ droga.quantidade }}</li>
                            {% endfor %}
                            {{ calc_sex_mes }}
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card bg-dark text-light">
                    <div class="card-body">
                        <h1 class="mb-3">Tipificação penal porcentagem</h1>
                        <ul class="list-unstyled">
                            {% for tipo, porcentagem in resultado_tipo_penal %}
                                <li class="mt-2">{{ tipo }}: {{ porcentagem|floatformat:2 }}%</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-4">
                <div class="card bg-dark text-light">
                    <div class="card-body">
                        <h3 class="mb-3">Tipificação penal: dados númericos</h3>
                        <ul class="list-unstyled">
                            {% for tipo, quantidade in resultado_tip_quant.items %}
                                <li class="mt-2">{{ tipo }}: {{ quantidade }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card bg-dark text-light">
                    <div class="card-body">
                        <h3>Medida de cumprimento</h3>
                        <ul class="list-unstyled">
                            {% for tipo, quantidade in resultado_medida.items %}
                                <li class="mt-2">{{ tipo }}: {{ quantidade }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="container">
                        <h3>Medida de cumprimento: saída</h3>
                        <ul class="list-unstyled">
                            {% for tipo, quantidade in resultado_cumprimento_saida.items %}
                                <li>{{ tipo }}: {{ quantidade }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card bg-dark text-light">
                    <div class="card-body">
                        <h3>Faixas Etárias</h3>
                        <ul class="list-unstyled">
                            {% for tipo, quantidade in faixas_etarias.items %}
                                <li class="mb-2">De {{ tipo }}: quantidade: {{ quantidade }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="container">
                        <h3>Porcentagem por Faixa Etária</h3>
                        <ul class="list-unstyled">
                            {% for tipo, porcentagem in faixas_etarias_porcentagem.items %}
                                <li class="mb-2">De {{ tipo }}: porcentagem: {{ porcentagem|floatformat:2 }}%</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/all.min.js' %}"></script>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-base.min.js"></script>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-ui.min.js"></script>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-exports.min.js"></script>
</body>
{% endblock content %}
{% include 'commons/include/footer.html' %}
