{% load static %}
<!doctype html>
<html lang="pt-br">
<head>
    <title>HOME | TIME-STATICS</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
</head>
<body style="margin-top: 80px; background-color: rgba(0, 0, 0, 0.3)" >

{% include 'commons/include/navbar.html' %}
{% block content %}

    <!-- Formulário para solicitar CPF -->
    <div class="d-flex justify-content-center mt-4">
        <div class="card" style="width: 700px; height: 250px; padding: 20px; border-radius: 25px;">
            <div class="card-header" style="color: rgb(255, 0, 0); text-align: center;">
                <h3><strong>BUSCAR TEMPO RESTANTE(CPF)</strong></h3>
            </div>
            <div class="card-body text-center mt-3">
                <form method="get">
                    <label for="cpf">DIGITE O CPF:</label>
                    <input type="text" name="cpf">
                    <button type="submit" class="btn btn-primary">Consultar</button>
                </form>
                <div class="container d-flex justify-content-center mt-4">
                    <a href="{% url 'buscar_nome' %}" class="btn btn-warning" style="width: 30%;">
                        OBTER (CPF)
                        <i class="fas fa-download" style="margin-left: 4px;"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    {% if cidadao %}
    <div class="d-flex justify-content-center mt-5">
        <div class="card" style="width: 700px; padding: 20px; border-radius: 15px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
            <div class="card-header" style="color: #dc3545; text-align: center; border-bottom: 2px solid #dc3545;">
                <h4><strong>INFORMAÇÕES ENCONTRADAS ABAIXO:</strong></h4>
            </div>
            <div class="card-body text-center">
                <h4 class="card-title" style="font-size: 1.5rem; font-weight: 500;">NOME: {{ cidadao.nome }}</h4>
                <h4 class="card-title" style="font-size: 1.5rem; font-weight: 500;">DATA DE ENTRADA: {{ cidadao.data_entrada }}</h4>
                {% if time_list %}
                    <p class="card-text" style="font-size: 1.25rem; color: #333;">
                        Tempo total restante: <strong>{{ time_list.time }} horas</strong>
                    </p>
                {% else %}
                    <p class="card-text" style="font-size: 1.25rem; color: #333;">
                        Tempo total restante: <strong>Dado não existente no momento</strong>
                    </p>
                {% endif %}
            </div>
            <div class="d-flex justify-content-center mt-4">
                <form method="post" style="width: 100%; max-width: 400px;">
                    {% csrf_token %}
                    <div class="mb-3">
                        <input type="hidden" name="cpf" value="{{ cidadao.cpf }}">
                        <input type="number" name="horas_a_subtrair" placeholder="Valor a reduzir" class="form-control" required>
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Atualizar</button>
                </form>
            </div>
        </div>
    </div>
    {% endif %}

    <div class="container mt-5">
            <div class="card bg-dark" style="color: white; max-width: 60%; margin-left: 20%;">
                <div class="card-header">
                    <h3 class="d-flex justify-content-center" style="color: yellow; font-family: 'Roboto', sans-serif;">inserir time apenas disponivel ao editar dados
                        <i class="bi bi-exclamation-circle" style="color: yellow; margin-left: 7px;"></i>
                    </h3>
                </div>
                <div class="card-body">
                    <p class="card-text" style="font-family: 'Roboto', sans-serif;">Inserção de tempo relacionado a determinado cidadão só está sendo possível no momento utilizando 
                        a opção de edição de dados, nesta função só é possível reduzir do tempo total inserido com base no valor digitado pelo usuario!
                    </p>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/all.min.js' %}"></script>

{% endblock content %}
{% include 'commons/include/footer.html' %}
</body>
</html>
