{% extends 'commons/include/new_base.html' %}
{% load static %}

{% block content %}
    <!-- Formulário para solicitar CPF -->
    <div class="container mt-4">
        <div class="card">
            <div class="card-header" style="color: rgb(255, 0, 0); text-align: center;">
                <h3><strong>BUSCAR TEMPO RESTANTE(CPF)</strong></h3>
            </div>
            <div class="card-body text-center mt-3">
                <form method="get">
                    <label for="cpf">DIGITE O CPF:</label>
                    <input type="text" name="cpf">
                    <button type="submit" class="btn btn-primary">Consultar</button>
                </form>
                <div class="container d-flex justify-content-center mt-4">
                    <a href="{% url 'buscar_nome' %}" class="btn btn-warning" style="width: 30%;">
                        OBTER (CPF)
                        <i class="fas fa-download" style="margin-left: 4px;"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    {% if cidadao %}
    <!--
        <div class="container mt-5">
            <div class="card">
                <div class="card-header">
                    <h4 class="d-flex justify-content-center"><strong>INFORMAÇÕES ENCONTRADAS ABAIXO:</strong></h4>
                </div>
                <div class="card-body text-center">
                    <h4 class="card-title" style="font-size: 1.5rem; font-weight: 500;">NOME: {{ cidadao.nome }}</h4>
                    <h4 class="card-title" style="font-size: 1.5rem; font-weight: 500;">DATA DE ENTRADA: {{ cidadao.data_entrada }}</h4>
                    {% if time_list %}
                        <p class="card-text" style="font-size: 1.25rem; color: #333;">
                            Tempo total restante: <strong>{{ time_list.time }} horas</strong>
                        </p>
                    {% else %}
                        <p class="card-text" style="font-size: 1.25rem; color: #333;">
                            Tempo total restante: <strong>Dado não existente no momento</strong>
                        </p>
                    {% endif %}
                </div>
                <div class="d-flex justify-content-center mt-4">
                    <form method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            <input type="hidden" name="cpf" value="{{ cidadao.cpf }}">
                            <input type="number" name="horas_a_subtrair" placeholder="Valor a reduzir" class="form-control" required>
                        </div>
                        <button type="submit" class="btn btn-primary w-100">Atualizar</button>
                    </form>
                </div>
            </div>
        </div>
    -->

    {% endif %}
            <div class="bg-dark mt-3 text-center w-50 text-white" style="margin-left: 25%;">
                {% if cidadao %}
                <h1>Detalhes do Cidadão</h1>
                    <p>Nome: {{ cidadao.nome }}</p>
                    <p>CPF: {{ cidadao.cpf }}</p>
                    <h2>Processos associados:</h2>

                    <ul>
                        {% for time in time_list %}
                            <li>Processo referente: {{ time.process_equal }} | Tempo associado: {{ time.time }}</li>
                        {% empty %}
                            <li>Nenhum tempo encontrado.</li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>Cidadão não encontrado.</p>
                {% endif %}
            </div>

    <div class="container mt-3">
            <div class="card bg-dark">
                <div class="card-header">
                    <h3 class="d-flex justify-content-center" style="color: yellow; font-family: 'Roboto', sans-serif;">inserir time apenas disponivel ao editar dados
                        <i class="bi bi-exclamation-circle" style="color: yellow; margin-left: 7px;"></i>
                    </h3>
                </div>
                <div class="card-body">
                    <p class="card-text" style="font-family: 'Roboto', sans-serif; color: white;">Inserção de tempo relacionado a determinado cidadão só está sendo possível no momento utilizando 
                        a opção de edição de dados, nesta função só é possível reduzir do tempo total inserido com base no valor digitado pelo usuario!
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

