{% extends 'commons/include/new_base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/editar_process.css' %}">
{% endblock %}

{% block content %} 
            <div class="container bg-white">
                <h1 class="text-center" id="title_process_edit">{{ cidadao.nome }}</h1>
                
                <div class="section-title d-flex justify-content-center">
                    <h2>Todos os processos atrelados</h2>
                </div>

                    <div class="info-item">
                            <form method="post">
                                {% csrf_token %}
                                {{ violen_domest_formset.management_form }}
                                {% for form in violen_domest_formset %}
                                    <h3 class="d-flex justify-content-center">(PROCESSO)</h3>
                                    {{ form.as_p }}      
                                    <hr>
                                {% endfor %}
                                    <button type="submit" class="btn btn-success mt-4 mb-3">Salvar
                                        <i class="fas fa-save"></i>
                                    </button>
                                    <br>
                            </form>
                    </div>
            </div>
{% endblock content %}


