{% load static %}
<!doctype html>
<html lang="pt-br">
    <head>
        <title>BASE | FORM-ACOMP</title>
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/base.css' %}" rel="stylesheet">  

        <style>
            body {
                margin-top: 80px;
                background-color: rgb(20, 104, 104);
            }

            label {
                font-size: large;
            }

            input {
            width: 100%; 
            }
        </style>
    </head>
{% include 'commons/include/navbar_form.html' %}
{% block content %}
    <body>

        <div class="container" style="border: solid 1px #ddd; padding: 20px; background-color: rgb(244, 245, 245); border-radius: 15px;">
            <div class="row justify-content-center">
                <div class="col-md-8 form-container">
                    <h2 class="text-center mb-4">Formulario de acompanhamento na central</h2>
                    <form method="post"action="{% url 'form_acomp' %}">
                        <div>
                            <ul>
                                <!-- {{ form.name.label_tag }} -->
                                <!-- {{ form.name }} -->
                            {% csrf_token %}
                            <h4>Nome do cidadão:  {{ cidadao_nome }} </h4>
                            <h4>Data de Entrada: {{ data_entrada }} </h4> 
                            <br>
                            {{ formulario_acom.as_p }}
                            <button type="submit" class="btn btn-primary justify-content-center">Finalizar</button>
                            </ul>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
        <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'js/popper.min.js' %}"></script>
        <script src="{% static 'js/all.min.js' %}"></script>
    </body>
{% endblock content %}
{% include 'commons/include/footer.html' %}
</html>
