{% load static %}

<nav class="navbar navbar-dark bg-secondary fixed-top" style="border: solid 1px black;">
    <div class="container">
        <!--Imagem da barra de navegação-->

        <a class="navbar-brand d-flex align-items-center" href="{% url 'base' %}">
            <img src="{% static '/img/imgnavbar.png' %}" class="img-fluid" alt="Logo" style="height: 40px;">
            <span class="ms-2">Iapen-AC CIAP</span>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar"
            aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Menu de opções da barra de navgação canvas-->
        <div class="offcanvas offcanvas-end text-bg-secondary" tabindex="-1" id="offcanvasDarkNavbar"
            aria-labelledby="offcanvasDarkNavbarLabel">

            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel" style="font-size: larger;">Opções</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
            </div>
    
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item mb-3">
                        <a class="btn btn-light btn-lg w-100 text-center" aria-current="page" href="{% url 'perfil' %}" style="font-size: 1.25rem; border-radius: 30px; padding: 10px; height: 50px; color: #333; background-color: #fff; border: 1px solid #ddd; transition: background-color 0.3s, color 0.3s;">
                            Perfil
                        </a>
                   
                    <li class="nav-item mb-3">
                        <a class="btn btn-light btn-lg w-100 text-center" aria-current="page" href="{% url 'estatisticas' %}" style="font-size: 1.25rem; border-radius: 30px; padding: 10px; height: 50px; color: #333; background-color: #fff; border: 1px solid #ddd; transition: background-color 0.3s, color 0.3s;">
                            Estatisticas
                        </a>
                    </li>

                    </li>
                    <li class="nav-item">
                        <a class="btn btn-light btn-lg w-100 text-center" href="{% url 'logout' %}" style="font-size: 1.25rem; border-radius: 30px; padding: 10px; height: 50px; color: #333; background-color: #fff; border: 1px solid #ddd; transition: background-color 0.3s, color 0.3s;">
                            Sair
                        </a>
                    </li>                    
                </ul>
            
            </div>
        </div>
    </div>
</nav>




