{% load static %}
<head>
    <title>{% block title %}HOME |{% endblock %}</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    {% block css %}
    {% endblock %}
</head>

<body>
    <div class="container-fluid">
        <div class="row flex-nowrap">
            <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
                <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                    <img src="{% static '/img/img_ciap.png' %}" class="img-fluid" alt="Logo">
                    <a class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                        <span class="d-none d-sm-inline text-white">Menu de opções
                            <i class="bi bi-gear" style="margin-left: 5px;"></i>
                        </span>
                    </a>
                    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                        <li class="nav-item">
                            <a href="{% url 'base' %}" class="mb-1 nav-link align-middle px-0 text-white">
                                <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Pagina inicial</span>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'estatisticas' %}" class="mb-1 nav-link px-0 align-middle text-white">
                                <i class="fs-4 bi-bar-chart"></i> <span class="ms-1 d-none d-sm-inline">Estatisticas</span></a>
                        </li>
                        <li>
                            <a href="{% url 'perfil' %}" class="mb-1 nav-link px-0 align-middle text-white">
                                <i class="fs-4 bi-person"></i> <span class="ms-1 d-none d-sm-inline">Perfil</span> </a>
                        </li>
                        <li>
                            <a href="#submenu3" data-bs-toggle="collapse" class=" mb-2 nav-link px-0 align-middle text-white">
                                <i class="fs-4 bi-grid"></i> <span class="ms-1 d-none d-sm-inline">ACMP central</span></a>
                            <ul class="collapse nav flex-column ms-1" id="submenu3" data-bs-parent="#menu">
                                <li class="w-100">
                                    <a href="{% url 'register_acmform_view' %}" class="nav-link px-0 text-white"> <span class="d-none d-sm-inline">Cadastrar ACMP</span></a>
                                </li>
                                <li>
                                    <a href="{% url 'acmform' %}" class="nav-link px-0 text-white"> <span class="d-none d-sm-inline">Ficha-ACMP</span></a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="{% url 'actions' %}" class="mb-3 px-0 align-middle text-decoration-none text-white">
                                <i class="fs-4 bi-file-earmark-lock"></i><span class="ms-1 d-none d-sm-inline">Relatório de ações</span>
                        </li>
                        <li>
                            <a href="{% url 'register' %}" class="mb-3 px-0 align-middle text-decoration-none text-white">
                                <i class="fs-3 bi-person-check"></i><span class="ms-1 d-none d-sm-inline">Registrar acesso</span>
                        </li>
                        <li>
                            <a href="{% url 'logout' %}" class="nav-link px-0 align-middle text-white">
                                <i class="fs-4 bi-door-open"></i><span class="ms-1 d-none d-sm-inline">Encerrar seção</span></a>
                        </li>
                    </ul>
                    <hr>
                </div>
            </div>
            <div class="col py-3" style="overflow-y: scroll; height: 100vh;">
                    {% block content %}
                    {% endblock content %}
            </div>
        </div>
    </div>

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/all.min.js' %}"></script>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-base.min.js"></script>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-ui.min.js"></script>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-exports.min.js"></script>
    
    {% block js %}
        <script src="{% static 'js/base.js' %}"></script>
    {% endblock %}
</body>
