{% extends 'commons/include/new_base.html' %}
{% load static %}

{% block title %}HOME | PROCESS-MORE{% endblock %}

{% block content %}
        <div class="container bg-light rounded">
            <div class="container">
                <h1 class="text-center">{{ cidadao.nome }}</h1>
                
                <div class="section-title d-flex justify-content-center">
                    <h2 class="text-danger">Informações do processo</h2>
                </div>

                <div class="info-item">
                    <h4 class="d-flex justify-content-center">Processo referente: {{ processo.process_referente }} </h4>
                    <br>
                    <p><strong>Tem enteados?:</strong> {{ processo.enteados }}</p>
                    <p><strong>Pratica alguma religião? Qual?:</strong> {{ processo.religiao }}</p>
                    <p><strong>A vitima trabalhava qual era a profissão?</strong> {{ processo.trab_vitima }}</p>
                    <p><strong>A vitima dependia financeiramente de você?</strong> {{ processo.dependencia_fin }}</p>
                    <p><strong>O autor faz uso de álcool?</strong> {{ processo.autor_alcool }}</p>
                    <p><strong>O autor faz uso de drogas? Qual?</strong> {{ processo.uso_drogas_viole }}</p>
                    <p><strong>Com qual cor/raça você se identifica?</strong> {{ processo.raça_ident }}</p>
                    <p><strong>Os filhos já presenciaram alguma agressão?</strong> {{ processo.filhos_agress }}</p>
                    <p><strong>O autor já tentou ou ameçou suicidar-se?</strong> {{ processo.ameacar_suicidio }}</p>
                    <p><strong>O autor está desempregado ou possui dificuldades financeira graves?</strong> {{ processo.dificul_finan }}</p>
                    <p><strong>O autor tem acesso a armas de fogo?</strong> {{ processo.acesso_armas }}</p>
                    <p><strong>Que tipo de relação mantém atualmente com a vitima?</strong> {{ processo.relacao_vit }}</p>
                    <p><strong>Você reconhece que usou de violência(física, psicológica, entre outras) em relação à vitima?</strong> {{ processo.reconhe_violencia }}</p>
                    <p><strong>Você se sente arrependido?</strong> {{ processo.arrepen }}</p>
                    <p><strong>Qual seu sentimento em relação à vitima?</strong> {{ processo.sentim_vitim }}</p>
                    <p><strong>Já passou por esse grupo que trata sobre violência doméstica?</strong> {{ processo.passagen_ant }} </p>
                    <p><strong>Status do processo:</strong>  {{ processo.status_process }} </p>
                    <p><strong> Tecnico responsavel:</strong> {{ processo.tecnico_responsavel_vio }}</p>
                </div>

            </div>
            <br>
        </div>
{% endblock content %}

